@font-face {
    font-family: "bold";
    src: url(/src/font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "medium";
    src: url(/src/font/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "regular";
    src: url(/src/font/Montserrat-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header a{
    font-family: medium;
    font-size: 14px;
}


#logo img {
    max-width: 100%;
}

header a {
    text-decoration: none;
    color: black;
}

header a img {
    margin-right: 5pt;
     vertical-align: middle;
}

::placeholder {
    color: black;
}

input#login  {
    caret-color: transparent;
    border: none;
    outline: none;
    font-family: medium;
    cursor: pointer;
    background-color:white;
    max-width: 50px;
}

header a:active {
    transform: scale(0.95);
}

/* Блок Уровень А1 */

.cardA1 img{
    width: 100%
}

/* Блок целей */

.purposes{
    display: flex;
    width: 100%;
    margin-top: 5%;
}

.purposes_left{
    padding-right: 7%;
}

.purposes_right{
    display: flex;
    justify-content: space-between;
}

.purposes_card{
    width: 11rem;
    margin-right: 1%;
    margin-left: 1%;
}

.purposes_card h3{
    font-family: bold;
    font-size: 1.5rem;
}

.purposes_card p{
    font-family: regular;
    font-size: 0.88rem;
}

/* Блок приоритетов */

.priorities{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.priority p{
    font-family: regular;
    font-size: 0.88rem;
    width: 11.25rem;
}

/* Блок преимуществ */

.benefits {
    width: 100%;
    height: 19.38rem;
    background-image: url('/src/img/cours/subtract.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.txt {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 1rem; 
}

.txt p {
    font-family: regular;
    font-size: 1.13rem;
    color: white;
    width: 28.63rem; 
}

button[type="submit"] {
    margin-top: 1rem; 
    padding: 10px 20px; 
    font-size: 0.88rem;
    width: 11.94rem;
    height: 3.13rem;
    cursor: pointer;
    background-color: rgba(247, 148, 29, 1.00); 
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease; 
    align-self: center; 
}

button[type="submit"]:hover {
    background-color: rgb(218, 120, 0); 
}

/* Блок содержание курса */

.content{
    display: flex;
    justify-content: space-between;
}

.content_left{
    margin-right: 3%;
}

.content_right{
    margin-left: 3%;
}

.content_left h3, .content_left h4{
    font-family: bold;
}

.content_left h3{
    font-size: 2.25rem;
}

.content_left p{
    font-family: regular;
    font-size: 1.13rem;
}

.content_left button{
    width: 17.69rem;
}

.txtcontent{
    display: flex;
    justify-content: space-between;
    width: 28.63rem;
}

.txtcontent p{
    font-family: regular;
    font-size: 0.88rem;
}

#term{
    width: 7.44rem;
}

#mode{
    width: 19.31rem;
}

.content_left h4{
    font-size: 1.75rem;
}

.content_right{
    margin-top: auto;
    margin-bottom: auto;
}

/* Блок преподавателей */

.teachers{
    width: 100%;
    height: 37.5rem;
    background-image: url('/src/img/cours/teacher_background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5%;
}

.teachers h3{
    font-family: bold;
    font-size: 2.25rem;
    text-align: center;
    color: white;
    margin-bottom: 6%;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 17.5rem;
    height: 22.5rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column; /* Выстраиваем элементы по вертикали */
    justify-content: center; /* Центрируем по вертикали */
    align-items: center; /* Центрируем по горизонтали */
    text-align: center;
}

.card p{
    font-family: medium;
    font-size: 0.88rem;
    padding: 1%;
}

.card h3{
    font-family: bold;
    font-size: 1.13rem;
    color: black;
}

/*  Блок найди ответ */

.container {
    width: 100%;
    margin-top: 5%
}

.container h1{
    font-family: bold;
    font-size: 1.75rem;
}

.faq-section {
    margin: 20px 0;
}

details {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 15px;
    background: #fff;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0 0 10px rgba(39, 170, 225, 0.3), 0 0 10px rgba(247, 148, 29, 0.3);
    transition: box-shadow 0.3s ease;
}

details::before {
    -webkit-mask: 
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
    mask: 
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; 
    mask-composite: exclude;
}


summary {
    font-size: 1.13rem;
    font-family: medium;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}

details summary::after {
    content: url('/src/img/cours/stick1.svg');
    float: right;
}

details[open] summary::after {
    content: url('/src/img/cours/stick2.svg');
}

details ul,p {
    margin: 10px 0 0;
    font-family: regular;
    font-size: 0.88rem;
}

details[open] {
    box-shadow: 0 0 15px rgba(247, 148, 29, 0.5), 0 0 15px rgba(39, 170, 225, 0.5);
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 9, 60);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 5%;
}

.info_f{
    display: flex;
    justify-content: space-between;
    align-items:end;
}

.info_f p{
    font-family: medium;
    font-size: 0.88rem;
}