@font-face {
    font-family: "bold";
    src: url(/src/font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "medium";
    src: url(/src/font/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "regular";
    src: url(/src/font/Montserrat-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header a{
    font-family: medium;
    font-size: 14px;
}


#logo img {
    max-width: 100%;
}

header a {
    text-decoration: none;
    color: black;
}

header a img {
    margin-right: 5pt;
     vertical-align: middle;
}

::placeholder {
    color: black;
}

input#login  {
    caret-color: transparent;
    border: none;
    outline: none;
    font-family: medium;
    cursor: pointer;
    background-color:white;
    max-width: 50px;
}

header a:active {
    transform: scale(0.95);
}

/* БЛОК ОБРАЗОВАТЕЛЬНАЯ ПЛАТФОРМА */

.hero {
    display: flex;
    height: 480px;
    width: 100%;
    background-image: url('/src/img/main/education.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

/* БЛОК ПРИВЕТСВИЯ */

.hi{
    margin-top: 5%;
    display: flex;
}

.hi_right{
    display: flex;
    margin-right: 2%;
}

.right_1{
    width: 15.38rem;
    margin-left: 5%;
}

.right_1{
    font-size: 0.88rem;
    font-family: regular;
}

/* Блок с основателем */

.inter{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.inter_left h3{
    font-family: bold;
    font-size: 1.13rem;
}

.inter_left p{
    font-family: medium;
    font-size: 0.88rem;
}

.inter_right{
    width: 44.81rem;
    height: 24.69rem;
}

.inter_right p{
    font-family: regular;
    font-size: 1.13rem;
}

/* Блок наши ценности */

.values{
    margin-top: 5%;
}

.values h1{
    font-family: bold;
    font-family: 2.25rem;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 13.75rem;
    margin-top: 2%;
}

.card p{
    font-family: medium;
    font-size: 1rem;
}

/* Блок преподавателей */

.teachers{
    width: 100%;
    height: 37.5rem;
    background-image: url('/src/img/cours/teacher_background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5%;
}

.teachers h3{
    font-family: bold;
    font-size: 2.25rem;
    text-align: center;
    color: white;
    margin-bottom: 6%;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 17.5rem;
    height: 22.5rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column; /* Выстраиваем элементы по вертикали */
    justify-content: center; /* Центрируем по вертикали */
    align-items: center; /* Центрируем по горизонтали */
    text-align: center;
}

.card p{
    font-family: medium;
    font-size: 0.88rem;
    padding: 1%;
}

.card h3{
    font-family: bold;
    font-size: 1.13rem;
    color: black;
}

/* Блок наши программы */

.programs{
    margin-top: 8%;
}

.programs h1{
    font-family: bold;
    font-size: 2.25rem;
}

.program{
    display: flex;
    justify-content: space-between;
}

.prog{
    width: 11.25rem;
}

.prog p{
    font-size: 1rem;
    font-family: medium;
}

.numbers{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.number p{
    font-family: medium;
    font-family: 1.25rem;
}

/* Блок наши партнеры */

.partners{
    margin-top: 10%;
}

.partners h1{
    font-family: medium;
    font-size: 2.25rem;
}

.partner_up, .partner_down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 9, 60);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.info_f{
    display: flex;
    justify-content: space-between;
    align-items:end;
}

.info_f p{
    font-family: medium;
    font-size: 0.88rem;
}