@font-face {
    font-family: "bold";
    src: url(/src/font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "medium";
    src: url(/src/font/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "regular";
    src: url(/src/font/Montserrat-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px;
}

/* HEADER */

header, .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header a{
    font-family: medium;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.menu{
    margin-left: 5%;
}

#logo img {
    max-width: 100%;
}

header a img {
    margin-right: 5pt;
    vertical-align: middle;
}

::placeholder {
    color: black;
}

input#login  {
    caret-color: transparent;
    border: none;
    outline: none;
    font-family: medium;
    cursor: pointer;
    background-color:white;
    max-width: 50px;
}

header a:active {
    transform: scale(0.95);
}

/* Адаптив header */

@media (max-width: 1000px) {

    .wrapper{
        width: 100%;
        max-width: 600px;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        position: relative; /* Добавляем позиционирование для родительского header */
    }

    .menu-toggle {
        display: block; /* Показываем кнопку меню */
        cursor: pointer;
    }

    .menu {
        display: none; /* Скрываем основное меню */
        position: absolute;
        top: calc(100% + 10px); /* Меню будет располагаться под кнопкой с отступом 10px */
        right: 0;
        left: 0;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        text-align: center; /* Центрируем элементы внутри меню */
    }

    .menu a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: black;
        font-size: 14px;
    }

    .menu a:hover {
        background-color: #f0f0f0;
    }

    .menu input {
        max-width: initial; /* Вернуть изначальную ширину для поля ввода */
    }

    .menu.active {
        display: block; /* Показываем меню при активации */
    }
}

/* Скрытие иконки меню при разрешении больше 900px */
@media (min-width: 901px) {
    .menu-toggle {
        display: none;
    }
}


.account {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.courses, .trials {
    background: #fff;
    padding: 20px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.courses h3, .trials h3 {
    margin-top: 0;
}

.course-card {
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
