@font-face {
    font-family: "bold";
    src: url(../font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "medium";
    src: url(../font/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "regular";
    src: url(../font/Montserrat-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px;
}

/* HEADER */

header, .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header a{
    font-family: "medium";
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.menu{
    margin-left: 5%;
}

#logo img {
    max-width: 100%;
}

header a img {
    margin-right: 5pt;
     vertical-align: middle;
}

::placeholder {
    color: black;
}

input#login  {
    caret-color: transparent;
    border: none;
    outline: none;
    font-family: "medium";
    cursor: pointer;
    background-color:white;
    max-width: 50px;
}

header a:active {
    transform: scale(0.95);
}

/* Адаптив header */

@media (max-width: 1000px) {

    .wrapper{
        width: 100%;
        max-width: 600px;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        position: relative; /* Добавляем позиционирование для родительского header */
    }

    .menu-toggle {
        display: block; /* Показываем кнопку меню */
        cursor: pointer;
    }

    .menu {
        display: none; /* Скрываем основное меню */
        position: absolute;
        top: calc(100% + 10px); /* Меню будет располагаться под кнопкой с отступом 10px */
        right: 0;
        left: 0;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        text-align: center; /* Центрируем элементы внутри меню */
    }

    .menu a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: black;
        font-size: 14px;
    }

    .menu a:hover {
        background-color: #f0f0f0;
    }

    .menu input {
        max-width: initial; /* Вернуть изначальную ширину для поля ввода */
    }

    .menu.active {
        display: block; /* Показываем меню при активации */
    }
}

/* Скрытие иконки меню при разрешении больше 900px */
@media (min-width: 1000px) {
    .menu-toggle {
        display: none;
    }
}

/* БЛОК ОБРАЗОВАТЕЛЬНАЯ ПЛАТФОРМА */

#education {
    display: flex;
    height: 480px;
    width: 100%;
    content: url('../img/main/education.svg');
}

/* Адаптив блока образовательной платформы */

@media (max-width: 1000px) {

    #education{
        content: url('../img/about/education_small.svg');
        width: 100%;
        height: auto;
    }

}

/* БЛОК ПРИВЕТСВИЯ */

.hi{
    margin-top: 5%;
    display: flex;
}

.hi_right{
    display: flex;
    margin-right: 2%;
}

.right_1{
    width: 15.38rem;
    margin-left: 5%;
}

.right_1{
    font-size: 0.88rem;
    font-family: regular;
}

/* Адаптив блока приветствия */

@media (max-width: 1000px) {

    .hi{
        flex-direction: column;
    }

    .hi_right{
        margin-top: 5%;
    }

}

/* Блок с основателем */

.inter{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.inter_left h3{
    font-family: bold;
    font-size: 1.13rem;
}

.inter_left p{
    font-family: medium;
    font-size: 0.88rem;
}

.inter_right{
    width: 44.81rem;
    height: 24.69rem;
}

.inter_right p{
    font-family: regular;
    font-size: 1.13rem;
}

/* Адаптив блок с основателем */

@media (max-width: 1000px) {

   .inter{
    flex-direction: column;
   }

   .inter_left{
    margin-right: auto;
    margin-left: auto;
   }

   .inter_right{
    width: 100%;
   }

   .inter_right p{
    font-size: 1rem;
    text-align: center;
   }
}

/* Блок наши ценности */

.values{
    margin-top: 5%;
}

.values h1{
    font-family: bold;
    font-family: 2.25rem;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 13.75rem;
    margin-top: 2%;
}

.card p{
    font-family: medium;
    font-size: 1rem;
}

/* адаптив блока наши ценности */

@media (max-width: 1000px) {

    .values{
        margin-top: -15%;
    }

    .cards{
        flex-direction: column;
        height: 50rem;
        align-items: center;
    }

}

/* Блок преподавателей */

.teachers{
    width: 100%;
    height: 37.5rem;
    background-image: url('../img/cours/teacher_background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5%;
}

.teachers h3{
    font-family: bold;
    font-size: 2.25rem;
    text-align: center;
    color: white;
    margin-bottom: 6%;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 17.5rem;
    height: 22.5rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column; /* Выстраиваем элементы по вертикали */
    justify-content: center; /* Центрируем по вертикали */
    align-items: center; /* Центрируем по горизонтали */
    text-align: center;
}

.card p{
    font-family: medium;
    font-size: 0.88rem;
    padding: 1%;
}

.card h3{
    font-family: bold;
    font-size: 1.13rem;
    color: black;
}

/* адаптив блока преподавателей */

@media (max-width: 1000px) {

    .teachers{
     display: none;
    }

  }

/* Блок наши программы */

.programs{
    margin-top: 8%;
}

.programs h1{
    font-family: bold;
    font-size: 2.25rem;
}

.program{
    display: flex;
    justify-content: space-between;
}

.prog{
    width: 11.25rem;
}

.prog p{
    font-size: 1rem;
    font-family: medium;
}

.numbers{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.number p{
    font-family: medium;
    font-family: 1.25rem;
}

/* адаптив блока наши программы */

@media (max-width: 1000px) {

    .programs h1{
        text-align: center;
    }

    .program{
        flex-direction: column;
        align-items: center;
    }

    .numbers{
       display: none;
    }
}

/* Блок наши партнеры */

.partners{
    margin-top: 10%;
}

.partners h1{
    font-family: medium;
    font-size: 2.25rem;
}

.partner_up, .partner_down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* адаптив блока наши партнеры */

@media (max-width: 1000px) {

    .partners h1{
        text-align: center;
    }

    .partner_up, .partner_down{
        flex-direction: column;
        width: 40%;
        margin-right: auto;
        margin-left: auto;
    }

}

/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 9, 60);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.info_f{
    display: flex;
    justify-content: space-between;
    align-items:end;
}

.info_f p{
    font-family: medium;
    font-size: 0.88rem;
}

/* Адаптив footer */

@media (max-width: 1000px) {

    .info_f{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items:center;
    }

  }
