@font-face {
    font-family: "bold";
    src: url(./src/font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "medium";
    src: url(./src/font/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "regular";
    src: url(./src/font/Montserrat-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
}

/* HEADER */

.up{
    background-color: #00093C;
}

header, .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header a{
    font-family: medium;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.menu{
    margin-left: 5%;
}

#logo img {
    max-width: 100%;
}

header a img {
    margin-right: 5pt;
     vertical-align: middle;
}

::placeholder {
    color: white;
}

input#login  {
    caret-color: transparent;
    border: none;
    outline: none;
    font-family: medium;
    cursor: pointer;
    background-color:#00093C;
    max-width: 50px;
}

header a:active {
    transform: scale(0.95);
}

/* Адаптив header */

@media (max-width: 1000px) {

    .wrapper{
        width: 100%;
        max-width: 600px;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        position: relative; /* Добавляем позиционирование для родительского header */
    }

    .menu-toggle {
        display: block; /* Показываем кнопку меню */
        cursor: pointer;
    }

    .menu {
        display: none; /* Скрываем основное меню */
        position: absolute;
        top: calc(100% + 10px); /* Меню будет располагаться под кнопкой с отступом 10px */
        right: 0;
        left: 0;
        background-color: #00093C;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        text-align: center; /* Центрируем элементы внутри меню */
    }

    .menu a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        font-size: 14px;
    }

    .menu a:hover {
        background-color: #f0f0f0;
        color: #00093C;
    }

    .menu input {
        max-width: initial; /* Вернуть изначальную ширину для поля ввода */
    }

    .menu.active {
        display: block; /* Показываем меню при активации */
    }
}

/* Скрытие иконки меню при разрешении больше 900px */
@media (min-width: 1000px) {
    .menu-toggle {
        display: none;
    }
  }

/* Блок с контактами */
.maps{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 75vh; 
}

.card p{
    font-family: medium;
    font-size: 0.88rem;
}

#map{
    width: 55.13rem;
    height: 25.63rem; 
}

.txt{
    font-family: bold;
    font-size: 2.25rem;
}

/* Адаптив блока с контактами */

@media (max-width: 1000px) {

    .maps{
        flex-direction: column;
    }

    #map{
        margin-top: 5%;
        width: 18.75rem;
        height: 25.63rem; 
    }

}

/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 9, 60);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.info_f{
    display: flex;
    justify-content: space-between;
    height: 4.13rem;
    align-items:end;
}

.info_f p{
    font-family: medium;
    font-size: 0.88rem;
}

/* Адаптив footer */

@media (max-width: 1000px) {

    footer{
        margin-top: 10%;
    }

    .info_f{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items:center;
        height: auto;
    }



}